@charset "UTF-8";

/* 

small-phone: 576px
tablet: 768px
notebook: 992px
desktop: 1200px
large-monitor: 1400px 

*/

@media screen and (max-width: 768px){
    section.add {
        max-width: 350px;
    }

    li.li-container {
        max-width: 350px;
    }
}

@media screen and (min-width: 992px){
    section.add {
        max-width: 400px;
    }

    li.li-container {
        max-width: 500px;
    }

    section > ul#task-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem; /* espaço entre as colunas */
        justify-items: center;
        align-items: center;
    }

    section > ul#task-list li.li-container {
        width: 100%; /* garante que cada item ocupe só sua coluna */
    }
}

@media screen and (min-width: 1200px){
    section.add {
        max-width: 420px;
    }

    li.li-container {
        max-width: 500px;
    }

    section > ul#task-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem; /* espaço entre as colunas */
        justify-items: center;
        align-items: center;
    }

    section > ul#task-list li.li-container {
        width: 100%; /* garante que cada item ocupe só sua coluna */
    }
}

@media screen and (min-width: 1400px){
    section.add {
        max-width: 470px;
    }

    li.li-container {
        max-width: 500px;
    }

    section > ul#task-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem; /* espaço entre as colunas */
        justify-items: center;
        align-items: center;
    }

    section > ul#task-list li.li-container {
        width: 100%; /* garante que cada item ocupe só sua coluna */
    }
}

@media screen and (min-width: 1800px){
    section.add {
        max-width: 400px;
    }

    li.li-container {
        max-width: 400px;
    }

    section > ul#task-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem; /* espaço entre as colunas */
        justify-items: center;
        align-items: center;
    }

    section > ul#task-list li.li-container {
        width: 100%; /* garante que cada item ocupe só sua coluna */
    }
}


