@charset "UTF-8";

/* 

small-phone: 576px
tablet: 768px
notebook: 992px
desktop: 1200px
large-monitor: 1400px 

*/

@media screen and (min-width: 768px){
    section.add {
        max-width: 350px;
    }

    li.li-container {
        max-width: 350px;
    }
}

@media screen and (min-width: 992px){
    section.add {
        max-width: 350px;
    }

    li.li-container {
        max-width: 450px;
    }
}

@media screen and (min-width: 1200px){
    section.add {
        max-width: 350px;
    }

    li.li-container {
        max-width: 400px;
    }
}

@media screen and (min-width: 1400px){
    section.add {
        max-width: 350px;
    }

    li.li-container {
        max-width: 400px;
    }
}

@media screen and (min-width: 1800px){
    section.add {
        max-width: 350px;
    }

    li.li-container {
        max-width: 400px;
    }
}


