@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-01: #095256;
    --color-02: #087F8C;
    --color-03: #5aaa95;
    --color-04: #86a873;
    --color-05: #bb9f06;

    --color-06: #C7EFCF;
    --color-07: #E5E5E5;

    --font-title: 'Amatic SC', Arial, Sans-serif;
    --font-text: 'Poppins', Arial, Sans-serif;
}

body, html {
    background-color: var(--color-07);
}

button {
    padding: .500rem;
    border-radius: 1rem;

    font-size: .725rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: .025rem;

    box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.279);

    border: 1px solid black;
    
    font-family: var(--font-text);

    cursor: pointer;
}

header {
    background-color: #095256;

    width: 100%;
    max-width: 370px;
    margin: 2rem auto 0 auto;
    border-radius: .600rem .600rem 0 0;
    box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.215);

}

header h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.295);

    color: var(--color-06);

    padding: 1rem;
    
}

main {
    background-color: white;

    width: 100%;
    height: 100%;
    max-width: 370px;
    min-height: 400px;

    margin: auto auto 2rem auto;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.215);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section.add {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    gap: .500rem;

}

section.add input[type=text] {
    border: none;
    border-bottom: 2px solid var(--color-01);

    width: 100%;
    max-width: 200px;

    text-align: center;
    font-size: 1rem;
    font-family: var(--font-text);
}

section.add input[type=text]:focus {
    outline: none;
}

section.add button#addTask {
    background-color: var(--color-01);
    color: var(--color-06);

    width: 100%;
    max-width: 200px;
}

section > ul#task-list {
    list-style: none;
}

section > ul#task-list li.li-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    margin: 2rem 0 1.5rem 0;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.215);

    background-color: #87a8731d;

    font-family: var(--font-text);
    text-wrap: balance;
}

section > ul#task-list li.li-container::before {
    content: '';

    background-color: var(--color-01);

    width: 100%;
    height: .400rem;

    border-radius: 1rem;
}

section > ul#task-list li.li-container > span {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-wrap: balance;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

section > ul#task-list > li.li-container > div.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .500rem;
}


div.buttons > button#done {
    background-color: #97DE6E;
    color: black;
}

div.buttons > button#done:hover {
    background-color: #85c460;
    transition-duration: .5s;
}

div.buttons > button#edit {
    background-color: #7EC4EE;
    color: black;
}

div.buttons > button#edit:hover {
    background-color: #609FC4;
    transition-duration: .5s;
}

div.buttons > button#remove {
    background-color: #F67A7E;
}

div.buttons > button#remove:hover {
    background-color: #C46063;
    transition-duration: .5s;
}

section > ul#task-list li.li-container > p {
    font-size: .725rem;
    text-align: center;
    font-weight: 400;
}



