@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-01: #3D518C;
    --color-02: #091540;
    --color-03: #7692FF;
    --color-04: #ABD2FA;
    --color-04-light: #91ca74bb;
    --color-05: #1B2CC1;

    --color-06: #C7EFCF;
    --color-07: #E5E5E5;
    --color-08: #F1F5EF;

    --font-title: 'Amatic SC', Cursive, Arial, Sans-serif;
    --font-text: 'Poppins', Arial, Sans-serif;
}

body, html {
    background-color: rgb(226, 226, 226);

    height: 100dvh;
    height: 100vh;
}

button {
    width: 100%;
    max-width: 90px;

    padding: .500rem;
    border-radius: 1rem;

    font-size: .670rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: .025rem;

    box-shadow: 1px 2px 6px 1px #0915405e;

    border: 1px solid #001117;
    
    font-family: var(--font-text);

    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    gap: .2rem;
}

header {
    background-image: radial-gradient(circle, #3d518c, #7692FF 100%);

    width: 100%;
    margin: 0 auto 0 auto;
    box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.215);

    padding: .5rem;
}

header > h1 {
    font-family: var(--font-title);
    font-size: 3.2rem;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.295);

    color: var(--color-08);
}

main {
    background-color: white;

    width: 100%;
    min-height: 100%;

    padding: 2rem;
    box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.215);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

section.add {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    height: 220px;

    width: 100%;
    max-width: 350px;

    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
    
    box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.29);
    
    background-color: #F0F5EF;
}

section.add::before {
    content: '';

    background-image: radial-gradient(circle, #7692FF 50%, #3d518c 100%);

    width: 95%;
    height: .2rem;

    border-radius: 1rem;
}

section.add input[type=text] {
    border: none;
    border-bottom: 1px solid var(--color-01);

    width: 100%;
    max-width: 200px;

    text-align: center;
    font-size: 1rem;
    font-family: var(--font-text);

    color: #001117;
    background-color: transparent;
}

section.add input[type=text]::placeholder {
    color: #001117;
}

section.add input[type=text]:focus {
    outline: none;
}

section.add button#addTask {
    background-color: #1b2cc1ce;
    color: var(--color-08);

    width: 100%;
    max-width: 140px;

    margin: 0 0 1rem 0;
    outline-offset: 2px;
}

section.add button#addTask:hover {
    transition-duration: .5s;
    background-color: var(--color-01);
}

article#msg {
    display: none;

    background-color: rgba(255, 255, 0, 0.764);

    padding: .500rem;
    border-radius: .825rem;
    border: 1px solid black;

    font-family: var(--font-text);
    font-weight: 400;
    text-wrap: balance;
    font-size: .8rem;
}


section.task {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

section > ul#task-list {
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

section > ul#task-list li.li-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin: .5rem 0 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    
    box-shadow: 1px 3px 8px -1px rgba(0, 0, 0, 0.29);

    height: 220px;
    
    width: 100%;
    max-width: 350px;

    background-color: #F0F5EF;

    font-family: var(--font-text);
    text-wrap: balance;
}

section > ul#task-list li.li-container::before {
    content: '';

    background-image: radial-gradient(circle, #7692FF 50%, #3d518c);

    width: 100%;
    height: .2rem;

    border-radius: 1rem;
}

section > ul#task-list li.li-container > span {
    font-size: 1.5rem;
    text-transform: capitalize;
    word-break: break-all;
    text-align: center;
    font-weight: 500;

    margin: 1rem 0 1rem 0;
}

section > ul#task-list > li.li-container > div.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: .500rem;
}


div.buttons > button#done {
    background-color: #97DE6E;
    color: black;
}

div.buttons > button#done:hover {
    background-color: #85c460;
    transition-duration: .5s;
}

div.buttons > button#edit {
    background-color: #7EC4EE;
    color: black;
}

div.buttons > button#edit:hover {
    background-color: #609FC4;
    transition-duration: .5s;
}

div.buttons > button#remove {
    background-color: #F67A7E;
}

div.buttons > button#remove:hover {
    background-color: #C46063;
    transition-duration: .5s;
}

div.buttons > button#save {
    background-color: #97DE6E;
    color: black;
}

#renameInput {
    border: none;
    border-bottom: 1px solid var(--color-01);
    outline: none;

    width: 100%;
    max-width: 200px;

    text-align: center;
    font-size: 1rem;
    font-family: var(--font-text);

    color: #001117;
    background-color: transparent;
}

div.buttons > button#save:hover {
    background-color: #85c460;
    transition-duration: .5s;
}

section > ul#task-list li.li-container > p {
    font-size: .725rem;
    text-align: center;
    font-weight: 400;
    text-decoration: underline;
}



